body {
    background-image: url(https://cdn.pixabay.com/photo/2014/07/15/13/36/coffee-shop-393954_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 15px;
}
h1{
    color: #fcc9ac;
    font-size: 45px;
    font-family: 'Sawarabi Mincho', sans-serif;
    text-align : right;
　　position : absolute;
　　bottom:0;
}
p{
    color: #ffffff;
    
    font-size: 18px;
    font-family: 'Sawarabi Mincho', sans-serif;
    text-align : right;
　　position : absolute;
　　bottom:0;
    
}



.btn_design {
    font-size: 28px;
    width: 100px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
    padding: 20px 15px;
    background-color: #fcc9ac;
    color: #ffffff;
    border: 2px solid  #fcc9ac;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}

/* マウスオーバー時 */
.btn_design:hover {
    background-color: transparent;
    border: 2px solid #000000;
    color: #000000;
    border-radius: 30px;
    cursor: pointer;
}